@media(min-width: 0px) and (max-width: 768px) {

    .c1  {
        margin: 0 auto;
    }
    .c2 li {
        display: none;
    }

    .c3 {
        display: none;
    }


     #menu {
        display: flex;
        left: 200px;
     }

}

@media(min-width: 0px) and (max-width: 480px) {
  .cont1 h1 {
  font-size: 40px;
  text-align: center;
  }
  
  .cont3 {
  display: flex;
  justify-content: center;
  }

  .btn1  {
    margin: 20px auto;
  }
  
}